<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
            <div class="rounded">
                <iframe class="rounded w-100"
                        style="height: 400px;" src="@ViewBag.mapLocation"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

