
@{
    Layout = null;

}

<!doctype html>
<html lang="en">
@Html.Action("partialHead", "Admin")

<body>

    <div class="wrapper d-flex align-items-stretch">
        
            @Html.Action("partialsidebar", "Admin")
           

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            @Html.Action("partianavbar", "Admin")

            @RenderBody()

        </div>
    </div>

    <script src="/content/sidebar-01/js/jquery.min.js"></script>
    <script src="/content/sidebar-01/js/popper.js"></script>
    <script src="/content/sidebar-01/js/bootstrap.min.js"></script>
    <script src="/content/sidebar-01/js/main.js"></script>
</body>
</html>
