
@{
    Layout = null;
}
<link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
<div class="container">
    <div style="background-color:chartreuse">

        <h3 class="alert alert-info">yeni kategori ekleme alanı</h3>
        <label>kategori adı</label>
        <input type="text" class="form-control" />
        <br />
        <label>kategori açıklaması</label>
        <input type="text" class="form-control" />
        <br />
        <label>kategori değeri</label>
        <input type="text" class="form-control" />
        <br />

    </div>
    <button>kategoriyi oluştur</button>
</div>