@model List<Proje1Portfolio.Models.Service>
@{
    ViewBag.Title = "list";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Hizmetlerim</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>ıcon</th> 
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Serviceid</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Icon</td>
            <td><a href="/Service/Delate/@item.Serviceid" class="btn btn-danger">sil</a></td>
            <td><a href="/Service/update/@item.Serviceid" class="btn btn-success">Güncelle</a></td>

        </tr>
    }
</table>
<td><a href="/Service/create/" class="btn btn-success">Yeni Hizmet Ekle</a></td>
