
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}
<h2 class="mb-4"> Yeni Yeteneklerim listesi</h2>
<form method="post">
    <label>yetenek başlığı</label>
    <input type="text" name="Title" class="form-control"/>
    <br/>
    <label>yetenek ikonu</label>
    <input type="text" name="ıcon" class="form-control"/>
    <br /> 
    <label>yetenek değeri</label>
    <input type="text" name="value" class="form-control"/>
    <br />
    <button class="btn btn-info">yeteneği oluştur</button>


</form>

