@model Proje1Portfolio.Models.About
@{
    ViewBag.Title = "update";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4"> Yeni deneyim güncellei</h2>

<form method="post">

    @Html.HiddenFor(x => x.Aboutid, new { @class = "form-control" })
    <br />

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />

 <label>Detay</label>
    @Html.TextAreaFor(x => x.Detail, 6, 0, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Güncelle</button>


</form>

